.docs-wrapper__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* ---------- Шапка ---------- */


.docs-wrapper__back-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined {
    color: var(--color-text-secondary);
    font-size: var(--fs-lg);
    font-weight: 700;
    line-height: 1;
}

.docs-wrapper__title {
    color: var(--color-text-secondary);
    font-size: var(--fs-2xl);
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

/* ---------- Табы ---------- */
.docs-wrapper__tabs {
    display: flex;
    gap: 20px;
    width: 100%;
}

.docs-wrapper__tab {
    width: 100%;
    border-radius: 20px;
    background: rgba(107, 107, 115, 0.3);
    padding-block:12px;
    font-size: var(--fs-md);
    font-weight: 600;
    line-height: 1.3;
    color: var(--color-text-secondary);
    border: none;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.docs-wrapper__tab.active {
    background: rgba(236, 255, 42, 1);
}

.docs-wrapper__tab:focus-visible {
    outline: 2px solid var(--color-text-primary);
    outline-offset: 2px;
}

/* ---------- Контент ---------- */

.docs__panel-title{
    color: var(--color-text-secondary);
    font-weight: 600;
    font-size: 64px;
    padding-bottom: 50px;

    .docs-wrapper__title{
    display: none;
}
}
.tab-label--short {
    display: none;
}


.docs__panel{
    display: flex;
    flex-direction: column;
}
.docs__panel-description{
    padding-left: 110px;

}

.docs__panel-description__title{
    padding-bottom: 30px;
    font-weight: 600;
    font-size: 32px;

}
.docs__panel-desc{
    font-weight: 400;
    font-size: 32px;
    list-style: disc;
}
.docs__panel-last{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 70px;
}
.docs__panel-last-title{
    color: var(--color-text-secondary);
    font-weight: 600;
    font-size: 32px;
    line-height: 131%;
    letter-spacing: 1%;

}
.docs__panel-last-desc{
    color: var(--color-text-secondary);
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 1%;

}
@media (max-width: 480px) {

    .docs-wrapper{
        padding-inline: 16px;
    }
    .docs-wrapper__container{
        gap: 15px;

    }
    .docs-wrapper__title{
        display: block;
        font-weight: 600;
        font-size: 28px;

    }
    .docs-wrapper__tabs{
        display: grid;
        grid-template-columns: repeat(2,1fr);

        gap: 16px;
    }
    .docs-wrapper__tab{
        width:100%;
        padding: 7px 38px;
        font-weight: 600;
        font-size: 12px;

    }
    .tab-label--full {
        display: none;
    }
    .tab-label--short {
        display: inline;
    }
    .docs__panel-description{
        padding-left: 18px;
    }

    .docs__panel-title{
        font-weight: 600;
        font-size: 20px;
        color:rgba(12, 70, 81, 1);
        padding-top: 15px;

    }
    .docs__panel-description__title{
        font-weight: 500;
        font-size: 16px;
        padding-bottom: 15px;

    }
    .docs__panel-desc{
        font-weight: 400;
        font-size: 16px;

    }
    .docs__panel-last{
        padding-left: 0;
    }
    .docs__panel-last-title{
        font-weight: 600;
        font-size: 16px;

    }
    .docs__panel-last-desc{
        font-weight: 400;
        font-size: 16px;

    }
}
@media (max-width: 400px) {
    .docs-wrapper__tab {
        padding: 7px 25px;
    }
}
